.fondo{
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: 100%;


  background-image:
          linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.30)),
           url("../../../../../public/images/portada1.jpg"), url("../../../../../public/images/tren.jpg"),url("../../../../../public/images/portada2.jpg");
  background-size:100% 100%, 33.33% 100%, 33.33% 100%, 33.33% 100%;
  background-position: left, center, right;
  background-repeat: no-repeat;

}

.avion{
  font-size: 67%;
}

.caja-l{
  padding-left: 6%;
  padding-right: 6%;
  align-items: center;
  margin-top: 0;
}

.logo-tn{
  font-size: 340%;
  font-weight: bold;
  margin-bottom: 0;
  font-family: MuseoModerno-Regular;
}

.sombra{
  box-shadow: rgba(0, 0, 0, 0.32) 5px 5px 5px;
}

.c-aqui{
  color: white;
  background-color: #8495fd;
}

.color-negro{
  color: black;
  text-decoration:none;
  font-size: small;
  text-align: center;
  cursor: pointer;
}

.color-negro:hover{
  font-weight: bold;
}

form .show-password {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
}

.show-password i{
  color: #a8a8a8;
}

.caja-input{
  width: 120%;
  align-self: center;
}

.btn-login{
  width: 100%;
  align-self: center;
  height: 30px;
  margin-top: 13px;
}

.hr-anch{
  width: 100%;
  height: 70%;
  align-self: center;
}

.btn-g-a{
  border: #8c8c8c solid 1px;
  height: 35px;
}

.btn-g-a:hover{
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.no-cuenta{
  color: black;
  text-decoration:none;
  font-size: small;
  text-align: center;
}

.register{
  color: #595959;
  text-decoration:none;
  font-size: small;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.register:hover{
  color: black;
}






