.fondo{
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;

  background-image:
          linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)),
           url("../../../../../public/images/portada1.jpg"), url("../../../../../public/images/portada3.jpg"),url("../../../../../public/images/portada2.jpg");
  background-size:100% 100%, 33.33% 100%, 33.33% 100%, 33.33% 100%;
  background-position: left, center, right;
  background-repeat: no-repeat;

}


.avion{
  font-size: 67%;

}


.caja-l{
  width: 40%;
  align-items: center;
  margin-left: 30%;

}

.logo-tn{
  font-size: 340%;
  font-weight: bold;
  font-family: MuseoModerno-Regular;
}