
.f-busqueda{
  background: #f6f6f6;
}
.foto-sobre{
  width: 40%;
  height: 60%;
  border-radius: 1px 15px 15px 1px;
  object-fit: cover;
}

.card-valores{
  align-items: center;
  width: 40%;
}

.card-valores:hover{
  background: #000000;
  color: white;
}

.sombra{
  box-shadow: rgba(0, 0, 0, 0.32) 5px 5px 5px;
}

.cont-sobre{
  width: 50%;
}

.cont-no{
  width: 68%;
  height: auto;

}

