.img-resenia{
  width: 40%;

}

.cont-resenia{
  width: 70%;
  height: 60dvh;

}
.sombra{
  box-shadow: rgba(0, 0, 0, 0.32) 5px 5px 5px;
}

.f-busqueda{
  background: #f6f6f6;
}

.flechas{
  height: 30dvh;
  margin: auto;
  width: 5%;
}