<footer class="bg-black pt-4 px-4">
    <div class="d-flex flex-row bg-black gap-5 py-5 px-3">
        <div class="d-flex flex-column gap-2 ">
            <div class="d-flex flex-row  gap-1 ">
                <p class="logo-tn text-white ps-4 ">TripNow</p>
                <i class="bi bi-send-fill text-white avion"></i>
            </div>
            <p class=" ps-3 text-white opacity-75">
                Hacemos que viajar sea más accesible y <br>
                emocianante. Encuentra los mejores vuelos, hoteles y <br>
                experiencias en un solo lugar. Tu próxima aventura<br>
                comienza con un solo click.
            </p>
            <div class="d-flex flex-row gap-3 ps-4">
                <i class="bi bi-twitter-x bg-white rounded-circle px-1 redes"></i>
                <i class="bi bi-instagram bg-white rounded-circle px-1 redes"></i>
                <i class="bi bi-facebook bg-white rounded-circle px-1 redes"></i>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center gap-2 text-white ms-2">
            <p class="negrita">COMPAÑIA</p>
            <p class="c-footer">Sobre nosotros</p>
            <p class="c-footer">Iniciar sesión</p>
            <p class="c-footer">Busquedas</p>
            <p class="c-footer">Alertas</p>
        </div>

        <div class="d-flex flex-column justify-content-center gap-2 text-white ms-2">
            <p class="negrita">SOPORTE</p>
            <p class="c-footer">Centro de ayuda</p>
            <p class="c-footer">Contáctanos</p>
            <p class="c-footer">Privacidad</p>
            <p class="c-footer">Terminos y condiciones</p>
        </div>

        <div class="d-flex flex-column justify-content-center gap-2 text-white pb-4 ms-2">
            <p class="negrita">SUSCRÍBETE A NUESTRA NEWSLETTER</p>
            <p class="opacity-75">Recibe las mejores ofertas y guías de viajes directamente<br>
            en tu correo.</p>

            <form class="form-floating d-flex flex-row gap-2">
                <input type="email" id="f-correo" class="form-control rounded-4 btn-new" placeholder="Nombre">
                <label for="f-correo" class="form-label m-0 text-white opacity-25">Tu correo electronico</label>
                <button  type="button" class="btn text-black bg-white rounded-4 pt-1">Suscribirme</button>
            </form>

            <label class="f-z ps-2 opacity-75 mt-1">Al suscribirte aceptas los terminos y condiciones.</label>
        </div>
    </div>

    <hr class="text-white bg-white mx-4 ">

    <div class="d-flex flex-row justify-content-between me-3 mt-0 align-items-center justify-content-center">
        <div class="d-flex flex-row justify-content-center align-self-center gap-2 ms-4 opacity-75">
            <p class="py-2 text-white ps-2">© 2024 TripNow Inc. Todos los derechos reservados.</p>
        </div>
        <div class="d-flex flex-row gap-2 pb-3">
            <img src="/svg/visa.svg" class="pagos pe-2">
            <img src="/svg/master.svg" class="pagos">
            <img src="/svg/paypal.svg" class="pagos">
        </div>

    </div>
</footer>
