.logo-tn{
  font-size: 30px;
  font-weight: bold;
  font-family: MuseoModerno-Regular, sans-serif;
}

.avion{
  font-size: 20px;
}

.redes{
  cursor: pointer;
}

.negrita{
  font-weight: bold;
}

.c-footer{
  color: #cacaca;
  cursor: pointer;
}

.c-footer:hover{
  color: #ffffff;
}

.btn-new{
  background-color: #272c30;
  border: none;
}

.f-z{
  font-size:10px;
}

.pagos{

}