<section class="d-flex flex-column px-3 pt-1 f-busqueda gap-4 ">

    <div class="b-carrusel container-fluid" >
        <div class="logos-t text-white pt-3 h6 gap-5 bg-black opacity-25">
            <p *ngFor="let c of carrusel">{{c}}</p>
        </div>
    </div>

    <div class=" d-flex flex-column fondo m-5 rounded-4 sombra pb-5 mt-5 pt-2 mb-4 ">

        <div class="d-flex flex-column justify-content-center mb-5 mt-4 pt-4 mx-5 mb-5">
            <p class="t-search align-self-center pt-4">Todos tus viajes en un mismo sitio</p>
            <div>
                <div class="d-flex flex-column bg-white mx-5 sombra rounded-4 justify-content-center mt-3">

                    <div class="d-flex flex-row gap-3 justify-content-center pt-5">
                        <p class="sec-search px-2 rounded-2 sombra shw-btn">Vuelos</p>
                        <p class="sec-search px-2 rounded-2 sombra shw-btn">Vuelo + Hotel</p>
                        <p class="sec-search px-2 rounded-2 sombra shw-btn">Trenes</p>
                        <p class="sec-search px-2 rounded-2 sombra shw-btn">Buses</p>
                    </div>

                    <form class="d-flex flex-column gap-3 justify-content-center align-items-center my-4">

                        <div class="d-flex flex-row gap-3 justify-content-lg-start ms-5">
                            <select name="tipoViaje" class="form-select t-viaje ">
                                <option value="ida-vuelta">Ida y vuelta</option>
                                <option value="solo-ida">Solo ida</option>
                                <option value="multidestino">Multidestino</option>
                            </select>

                            <select name="tipoViaje" class="form-select t-viaje">
                                <option value="1per">1 persona</option>
                                <option value="2per">2 personas</option>
                                <option value="3per">3 personas</option>
                            </select>
                        </div>

                        <div class="d-flex flex-row my-3 gap-3 justify-content-center align-items-center">
                            <div class="form-floating ">
                                <input type="text" id="origen" class="form-control rounded-3" placeholder="origen">
                                <label for="origen" class="form-label m-0 ">Origen</label>
                            </div>
                            <i class="bi bi-arrow-left-right btn-cambio"></i>
                            <div class="form-floating me-4">
                                <input type="text" id="buscador" class="form-control rounded-3" placeholder="correo@example.com">
                                <label for="loginEmail" class="form-label m-0 ">Destino</label>
                            </div>
                            <div class="form-floating">
                                <input type="date" id="buscador" class="form-control rounded-3 text-secondary" placeholder="correo@example.com">
                                <label for="loginEmail" class="form-label m-0 ">Fecha de ida</label>
                            </div>
                            <div class="form-floating">
                                <input type="date" id="buscador" class="form-control rounded-3 text-secondary" placeholder="correo@example.com">
                                <label for="loginEmail" class="form-label m-0 ">Fecha de vuelta</label>
                            </div>
                            <button class="btn bg-black text-white py-3 px-4">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <p class="mt-5 h4 d-flex justify-content-center">NUESTROS VIAJES</p>

    </div>

    <div class=" d-flex flex-row gap-4 align-self-center">
        @for (categoria of categorias(); track categoria.slug){
            <button
                    class="btn d-flex flex-column  align-items-center justify-content-center rounded-5 sombra card-category"
                    [ngClass]="categoria.slug === elegir_categoria_viaje ? 'pulsado': '' "
                    (click)="cambiarCategoriaViaje(categoria.slug)">
                {{categoria.nombre}}
            </button>
        }
    </div>


    <div class="viajes-box mx-5  ">

        @for (viaje of viajes(); track viaje.slug_viaje) {

            <div [ngClass]="elegir_categoria_viaje !== 'todos' && elegir_categoria_viaje !== viaje.slug_categoria ? 'd-none' : ''"
                    class=" d-flex flex-row pb-5 sombra caja-v rounded-4 gap-1 pt-0 pt-0 ps-0 btn bg-white">
                <img [src]="viaje.imagen" alt="{{viaje.identificador}}" class="foto-v">

                <div class="d-flex flex-column m-auto mt-4 justify-content-center align-self-center">
                    <p class="m-auto text-primary h6 mt-3">{{viaje.slug_categoria}}</p>
                    <hr class="pt-0 mt-1">

                    <div class="d-flex flex-row m-auto gap-1 h6 mt-2 opacity-75">
                        <p>{{viaje.ciudad_salida}}</p>
                        <i class="bi bi-arrow-right-short pb-3"></i>
                        <p>{{viaje.ciudad_llegada}}</p>
                    </div>
                    <p class="m-auto h5">Desde {{viaje.precio}}€</p>
                </div>
            </div>
        }
    </div>

    <div class="pt-4">
        <p class="mt-5 h4 d-flex justify-content-center">NUESTROS ALOJAMIENTOS</p>
    </div>

    <div class=" d-flex flex-row gap-4 align-self-center">
        @for (categoria_alo of categorias_alojamiento(); track categoria_alo.slug){
            <button
                    class="btn d-flex flex-column  align-items-center justify-content-center rounded-5 sombra card-category"
                    [ngClass]="categoria_alo.slug === elegir_categoria_alojamiento ? 'pulsado': '' "
                    (click)="cambiarCategoriaAlomiento(categoria_alo.slug)">
                {{categoria_alo.nombre}}
            </button>
        }
    </div>

    <div class="aloja-box mx-5">

        @for (alojamiento of alojamientos(); track alojamiento.slug_alojamiento) {

            <div [ngClass]="elegir_categoria_alojamiento !== 'todos' && elegir_categoria_alojamiento !== alojamiento.slug_categoria_alojamiento ? 'd-none' : ''"
                 class=" d-flex flex-row  sombra caja-v rounded-4 gap-1 pt-0 pt-0 ps-0 btn bg-white">
                <img [src]="alojamiento.imagen" alt="{{alojamiento.identificador}}" class="foto-a pt-0 mt-0">

                <div class="d-flex flex-column m-auto mt-4 justify-content-center align-self-center">
                    <p class="m-auto text-primary h6 mt-3">{{alojamiento.slug_categoria_alojamiento}}</p>
                    <hr class="pt-0 mt-1">

                    <div class="d-flex flex-row m-auto gap-1 h6 mt-2 opacity-75">
                        <p>{{alojamiento.nombre_alojamiento}}</p>
                        <p>,</p>
                        <p>{{alojamiento.ciudad}}</p>
                    </div>


                    <p class="m-auto h5">Desde {{alojamiento.precio}}€</p>
                </div>
            </div>
        }
    </div>


   <div class="b-carrusel container-fluid ">
       <div class="logos-t opacity-25 ">
           <img src="/images/logosAerolineas.png" >
           <img src="/images/logosAerolineas.png">
       </div>
   </div>






    






</section>