.fondo{
  background-image: url(../../../../public/images/playa1.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}

.t-search {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.sombra{
  box-shadow: rgba(0, 0, 0, 0.32) 5px 5px 5px;
}

.sec-search{
  font-size: 20px;
  font-weight: normal;
  background-color: #f8f8f8;
  cursor: pointer;

}

.shw-btn:hover{
  background-color: #000000;
  color: white;
}

.t-viaje{
  width: 180px;
  height: 34px;

}

.f-busqueda{
  background: #f6f6f6;
}

.fto{
  width: 240px;
  height: 170px;
}


.t-font{
  font-size: 17px;
  font-weight: bold;
}

.mas{
  border: 1px #c3c3c3 solid;
  border-radius: 4px;
  width: 70px;
  height: 25px;

}

.mas:hover{
  background-color: black;
  color: white;
}


.f-res{
  border-radius: 30px;
  width: 400px;
  border: none;
}

.f-gente{
  height: 200px;
  width: 200px;

}

.card-gente{
  height: 300px;
  width: 540px;
  color: black;

}


.card-category{
  height: 60px;
  width: 200px;
  color: black;
  background-color: white;
}

.card-category:hover{
  border: 2px solid #84BFFFFF;
  background-color: #000000;
  color: white;
}

.pulsado{
  border: 2px solid #84BFFFFF;
  background: #000000;
  color: white;

}



.size-foto{
  width: 50%;
}

.btn-cambio{
  cursor: pointer;
  color: #9f9f9f;
}

.btn-cambio:hover{
  color: black;
  font-weight: bold;
}

.caja-v{
  width: 100%;
  height: 200px;
  background-color: white;

}

caja-v:hover{
  background-color: #8cacff;
}

.foto-v{
  width: 50%;
  height: 200px;
  border-radius: 15px 1px 1px 15px;
}

.v-caja{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}


.viajes-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}


.aloja-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

}

.foto-a{
  width: 50%;
  height: 200px;
  border-radius: 15px 1px 1px 15px;
}

.t-alo{
  font-size: small;
}

.b-carrusel{
  --duration: 100s;
  display: grid;
  width: calc(-1rem + 100vw);
  max-width: 1400px;
  overflow: hidden;
  mask: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0));
}


.logos-t {
  display: flex;
  width: max-content;
  animation: scroll var(--duration) linear infinite;
}



.logos-t img {
  height: 300px;
  object-fit: contain;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



