.fondo{
  background-image: url(../../../../public/images/playa1.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}

.t-search {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.sombra{
  box-shadow: rgba(0, 0, 0, 0.32) 5px 5px 5px;
}

.sec-search{
  font-size: 20px;
  font-weight: normal;
  background-color: #f8f8f8;
  cursor: pointer;

}

.shw-btn:hover{
  background-color: #000000;
  color: white;
}

.t-viaje{
  width: 180px;
  height: 34px;

}

.f-busqueda{
  background: #f6f6f6;
}

.fto{
  width: 240px;
  height: 170px;
}


.t-font{
  font-size: 17px;
  font-weight: bold;
}

.mas{
  border: 1px #c3c3c3 solid;
  border-radius: 4px;
  width: 70px;
  height: 25px;

}

.mas:hover{
  background-color: black;
  color: white;
}


.f-res{
  border-radius: 30px;
  width: 400px;
  border: none;
}

.f-gente{
  height: 200px;
  width: 200px;

}

.card-gente{
  height: 300px;
  width: 540px;
  color: black;
  background-color: white;
}



.card-gente:hover{
  border: 2px solid #83a4fb;
  background-color: #b4c8ff;
}

.card-category{
  height: 170px;
  width: 300px;
  color: black;
  background-color: white;
}

.card-category:hover{
  border: 2px solid #83a4fb;
  background: #3d97f2;
  background: linear-gradient(177deg, rgb(132, 191, 255) 0%, rgba(255, 255, 255, 1) 72%);
}



.size-foto{
  width: 50%;
}

.btn-cambio{
  cursor: pointer;
  color: #9f9f9f;
}

.btn-cambio:hover{
  color: black;
  font-weight: bold;
}

.caja-v{
  width: 32%;
  height: 200px;
  background-color: white;

}

caja-v:hover{
  background-color: #8cacff;
}

.foto-v{
  width: 50%;
  height: 200px;
  border-radius: 15px 1px 1px 15px;
}