.logo-tn{
  font-size: 40px;
  font-weight: bold;
  font-family: MuseoModerno-Regular, sans-serif;
  color: #a3b0ff;
}

.avion{
  font-size: 24px;
}

.l-sec{
  opacity: 0;

}

.l-sec:hover{
  color: #ffffff;
  background-color: #ffffff;
  height: 4px;
  opacity: inherit;


}

.menu p {
  cursor: pointer;
}

.menu p:hover {
  transition: .25s all;
  text-decoration: underline 5px solid #a3b0ff;
  text-underline-offset: 10px;
}