.popup {
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  .close-btn {
    position: absolute;
    top: 7px;
    right: 7px;
  }

  .info {
    max-width: 260px;

  }

  .i-selec{
    color: black;
    border: none;
  }

  .i-selec:hover{
    background-color: #d2dffb;
  }

  .sombra{
    box-shadow: rgba(0, 0, 0, 0.32) 5px 5px 5px;
  }

  .x:hover{
    background-color: #000000;
    color: white;
  }




}
