
<div class="popup">

    <div class="">

        <div class=" rounded-3 py-4 px-4 info m-auto my-5 position-relative bg-white sombra">
            <button type="button" class="btn btn-sm close-btn x" (click)="openIdiomaDesdeHeader.emit()">
                <i class=" bi-x-lg"></i>


            </button>

            <h2 class="h5 text-center mb-2">IDIOMAS</h2>
            <hr class="mt-1 pt-1 mx-2">
            <div class="d-flex flex-column">
                <button type="button" class="btn btn-sm i-selec">Inglés</button>
                <button type="button" class="btn btn-sm i-selec">Español</button>
                <button type="button" class="btn btn-sm i-selec">Francés</button>
                <button type="button" class="btn btn-sm i-selec">Catalán</button>
            </div>
        </div>

    </div>

</div>
